{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row">
    <div class="col-md-9">
        {% for x in data %}

        {% if forloop.counter == 1 %}
        <div class="mt-5 p-3 shadow">
           <h4> Customer Details</h4>
           
           <p><strong>Customer Name:</strong>{{x.userid.username}}</p>
           <p><strong>Customer Email ID:</strong>{{x.userid.email}}</p>
           <!--<p><strong>Customer Mobile:</strong>9356947669</p>-->
           </div>
           {% endif %}
           {% endfor %}
           {% for x in data %}
        <div class="mt-5 p-3 shadow">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{x.pid.pimage.url}}" class="card-img-top" alt="..." width="100px" height="400px">

                </div> 
                <div  class="col-md-8">
                    <p><strong>Product Name:</strong>{{x.pid.name}}</p>
                    {% if x.pid.cat == 1 %}
                    <p><strong>Category:</strong>Mobile</p>
                    {% elif x.pid.cat == 2 %}
                    <p><strong>Category:</strong>Shoes</p>
                    {% elif x.pid.cat == 3 %}
                    <p><strong>Category:</strong>Cloths</p>
                    {% endif %}
                <p><strong>Price:</strong>Rs : {{x.pid.price}}</p>
                
                <p><strong>Details :</strong>{{x.pid.pdetails}}</p>
                <p>
                    <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                    <input type="text" value="{{x.qty}}">
                    <a href="/updateqty/1/{{x.id}}"><button class="btn btn-danger">+</button></a>
                </p>
                <a href="/removecart/{{x.id}}" class="anchor"><button class="btn btn-danger">Remove</button></a>
                    
            </div>                   
            </div>

        </div>
        {% endfor %}
        
    </div>
    <div class="col-md-3 shadow">
        <div class="mt-3 p-3">
            <h4>Price Details</h4>
            <hr>
            <p><strong>Price ({{n}} items):</strong> Rs.{{total}}</p>
            <p><strong>Total Amount:</strong>{{total}}</p>
            <a href="/placeorder" class="anchor"><button class="btn btn-danger">Place Order</button></a>

        </div>

    </div>

</div><!--cart end-->
{% endblock 'main' %}