<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Hello from templates folder !!!</h1>
{% comment %}
<h4>Value of x is :{{x}}</h4>
<h4>Value of y is :{{y}}</h4>
<h4>value of Z is :{{z}}</h4>
{% if x > y  and x > z %}
 <h2> {{x}} is greater</h2>
{% elif y > x and y > z %}
  <h2> {{y}} is greater</h2>
{% else %}
<h2> {{z}}is greater</h2>
{% endif %}


{% for i in l%}
   {{forloop.counter}}.{{i}}
{% endfor %}
{% endcomment %}

{% for i in product %}
<h2>ID :{{i.id}}</h2>
<h2>Image  :{{i.image}}</h2>
<h2>Name  :{{i.pname}}</h2>
<h2>Category :{{i.pcat}}</h2>
<h2>Price  :{{i.price}}</h2>
{% endfor %}
</body>
</html>

